</div>
</div>
</div><!-- /.container -->
<hr>
<p class="text-center"><div class="media">
       <button onclick="window.location.href='https://www.instagram.com/shahad_khatun/'"><ion-icon name="logo-instagram"></ion-icon></button>
       <button onclick="window.location.href='https://www.facebook.com/shahad.khatun/'"><ion-icon name="logo-facebook"></ion-icon></button>
       <button onclick="window.location.href='https://www.tiktok.com/@shahad_khatun?_d=secCgYIASAHKAESMgowu3tnEo1QlNbW53keVK0gZoZOKNVBFn0HkAPGpvJb2qU497EabZpqy21aGWD%2BM3LxGgA%3D&language=ar&sec_uid=MS4wLjABAAAAzJ7R3vnqK29WmWw1FdQseUJ10h482xYGTzIHPTs5GQnSuuS5vRdlCYHi07DAnpBv&sec_user_id=MS4wLjABAAAAzJ7R3vnqK29WmWw1FdQseUJ10h482xYGTzIHPTs5GQnSuuS5vRdlCYHi07DAnpBv&share_app_name=musically&share_author_id=6798901394454070278&share_link_id=b8a4fd4b-8401-4a52-a163-1522290a4de4&timestamp=1615739521&u_code=db5ed4l5h64jkg&user_id=6798901394454070278&utm_campaign=client_share&utm_medium=android&utm_source=copy&source=h5_m'"><ion-icon name="logo-tiktok"></ion-icon></button>
       <br>
       <h4>&copy Made by Mohammed Majid</h4>
       </div></p>
       
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>


