@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

*{
    font-family: 'Tajawal', sans-serif;
}

body{
    overflow-x: hidden;
}

/* Header */
.res-nav {
    height: 10vh;
    background: #ff27ae;
    display: none;
  }
  
  .nav-links-blink {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links-blink li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
  }
  
  @media screen and (max-width: 1000px) {

    .khatun-nav{
        display: none;
        position: absolute;
        right: 10000000px;
    }

    .container-fluid{
        display: none;
    }

    .res-nav{
        display: block;
        height: 70px;
    }
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    .res-nav {
      position: relative;
    }

    .res-nav img{
        position: absolute;
        left: 30px;
        top: 10px;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-2%, -50%);
      z-index: 2;
    }
  
    .nav-links-blink {
      position: fixed;
      background: #ff27ae;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      margin-left: -40px;
    }
    .nav-links-blink.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links-blink li {
      opacity: 0;
    }

    .nav-links-blink button{
        font-size: 30px;
        background-color:white; 
        color: #ff27ae;
        border-color: white;
        border-radius: 12px;
        transition: all 1000ms ease 0ms;
        border: none;
    }

    .nav-links-blink button:hover{
        width: 40%;
    }

    .nav-media{
        display: inline-flex;
    }

    .nav-media button{
        font-size: 60px;
        background-color: #ff27ae;
        border: none;
        color: white;
    }
    .nav-links-blink li a {
      font-size: 125px;
    }
    .nav-links-blink li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links-blink li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links-blink li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }

  
  .khatun-nav{
    background-color: #ff27ae;
    width: 100%;
    border-radius: 0px;
}

.khatun-nav .logo{
    margin-top: -60px;
    margin-left: 10px;
    height: 7%;
}

.khatun-nav button{
    font-size: 18px;
    margin-left: 18px;
    margin-right: 18px;
    border: none;
    border-radius: 18px;
    background-color: #ff27ae;
    width: 130px;
    color: white;
    transition: all 1000ms ease 0ms;
}

.khatun-nav button:hover{
    background-color: white;
    color: #ff27ae;
    font-size: 20px;
    width: 150px;
}

.khatun-nav .media button{
    background-color: #ff27ae;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    font-size: 30px;
    transition: all 1000ms ease 0ms;
}

.khatun-nav .media button:hover{
    color: white;
    font-size: 40px;
    background-color: #ff27ae;
}

.khatun-nav .media{
    margin-left: 48%;
}

.khatun-nav .admin-btn{
    width: 30px;
}

.khatun-nav .admin-btn:hover{
    width: 30px;
    background-color: #ff27ae;
    color: white;
    font-size: 25px;
}
.media{
    text-align: center;
}

.media button{
    background-color: white;
    color: #ff27ae;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    font-size: 40px;
    border: none;
    transition: all 1000ms ease 0ms;
}

.media button:hover{
    font-size: 60px;
}

/* index page (info) */

.index-page {
    display: inline-flex;
}

.index-page p{
    font-size: 18px;
    text-align: center;
    margin-top: -50px;
    margin-left: -240px;
}

.index-page svg{
    height: 500px;
    margin-left: -300px;
}

.index-page .info img{
    height: 60%;
    margin-top: -60px;
    margin-left: -60px;
}

.index-page .info span{
    color: #ff27ae;
}

.index-page-btn{
    position: absolute;
    margin-left: 870px;
    margin-top: -400px;
    border: none;
    background-color: #ff27ae;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    transition: all 1000ms ease 0ms;
}

.index-page-btn:hover{
    font-size: 33px;
}

/* login page */

.login-img{
    height: 300px;
    position: relative;
    margin-top: -10px;
}

.login-btn{
    color: white;
    background-color: #ff27ae;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    transition: all 1000ms ease 0ms;
}

.login-btn:hover{
    font-size: 20px;
}

/* main page */

.main-page{
    display: inline-flex;
    text-align: center;
}

.main-page svg{
    height: 350px;
    margin-top: 30px;
    margin-left: -200px;
}

.main-page p{
    margin-top: 50px;
    margin-left: -60px;
    font-size: 23px;
    width: 550px;
}

.main-page span{
    color: #ff27ae;
}

.main-page .search-content{
    margin-top: 10px;
    height: 40px;
    width: 350px;
    border-color: #ff27ae;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    direction: rtl;
}

.main-page button{
  color: #ff27ae;
  margin-left: 15px;
  margin-top: 14px;
  font-size: 20px;
  font: bold;
  background-color: white;
  border: none;
  transition: all 1000ms ease 0ms;
  position: absolute;
}

.main-page button:hover{
    font-size: 22px;
    background-color: #ff27ae;
    color: white;
    border-radius: 20px;
}

.main-page-title{
    display: none;
}

.pimage{
    height: 200px;
    margin-top: -15px;
}

.object-card{
    border-color: #ff27ae;
    border-style: groove;
    border-width: 1px;
    height: 400px;
    width: 300px;
    background-color: #ff27ae;
    margin-left: auto;
    margin-right: auto;
}

.object-card p{
    font-size: 20px;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    width: 90%;
    border-radius: 15px;
    
}

.object-card span{
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
    color: #ff27ae;
    padding-left: 35.1%;
    padding-right: 35.1%;
}

.object-card .info-btn{
    margin-top: 40px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #ff27ae;
    transition: all 1000ms ease 0ms;
}

.object-card .info-btn:hover{
    font-size: 20px;
}

/* Content maker page */

.content-maker-name{
    margin-left: 65%;
    color: #ff27ae;
}

.content-maker-des{
    font-size: 18px;
    margin-left: 40px;
}

.content-maker-page-btn{
    background-color: #ff27ae;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 14px;
    width: 150px;
    margin-top: 20px;
    transition: all 1000ms ease 0ms;
}

.content-maker-page-btn:hover{
    font-size: 25px;
    width: 200px;
}

/* khatun community page */

.khatun-community-page{
    margin-top: -100px;
    margin-left: -70px;
    display: inline-flex;
}

.khatun-community-page svg{
    width: 600px;
}

.khatun-community-page .des-khatun-community{
    margin-top: 50px;
    margin-left: 120px;
}

.khatun-community-page .des-khatun-community img{
    width: 300px;
    margin-left: 50px;
}

.khatun-community-page .des-khatun-community p{
    font-size: 24px;
    margin-top: -40px;
}

.khatun-community-page .des-khatun-community span{
    color: #ff27ae;
}

.khatun-community-second-section{
    border-style: solid;
    width: 100%;
    height: 400px;
    border-color: #ff27ae;
    border-radius: 20px;
    border-left: none;
    border-right: none;
    margin-top: -50px;
    display: inline-flex;
}

.khatun-community-second-section svg{
    width: 600px;
    margin-top: -150px;
}

.khatun-community-second-section p{
    direction: rtl;
    font-size: 20px;
    margin-top: 40px;
    margin-right: 40px;
}

.khatun-community-second-section p span{
    color: #ff27ae;
}

.khatun-community-third-section{
    display: inline-flex;
    margin-top: -50px;
    border-style: solid;
    height: 400px;
    width: 700px;
    border-color: #ff27ae;
    border-radius: 50px;
    border-top: none;
    border-bottom: none;
    margin-left: -520px;
}

.khatun-community-third-section svg{
    width: 400px;
    margin-top: -190px;
    margin-left: 20px;
}

.khatun-community-third-section p{
    background-color: #ff27ae;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 200px;
    width: 300px;
    margin-left: -80px;
}

.input-section{
    background-color: #ff27ae;
    width: 400px;
    height: 430px;
    position: absolute;
    margin-top: -540px;
    margin-left: 750px;
    color: white;
    border-radius: 100px;
}

.input-section center{
    margin-top: 20px;
    font-size: 20px;
}

.input-section center p{
    border-bottom-style: solid;
    border-bottom-color: white;
    border-radius: 4px;
    width: 300px;
}

.input-section center input{
    margin-top: 20px;
    border: none;
    outline: none;
    color: black;
    direction: rtl;
    border-radius: 15px;
}

.input-section center button{
    background-color: white;
    border: none;
    color: #ff27ae;
    border-radius: 10px;
    width: 140px;
    margin-top: 10px;
    transition: all 1000ms ease 0ms;
}

.input-section center button:hover{
    font-size: 25px;
    width: 160px;
}

.brand span{
    color: white;
}

.logo{
    height: 80px;
    width: 80px;
    margin-bottom: -60px; 
    margin-top: -15px;
    margin-left: -20px;
}

.shopping{
    margin-left: -300px;
    color: white;
    transition: all 0.3ms ease 0s;
    font-size: medium;
    font-family: 'arabic';
    background-color: rgba(2,54,73);
    border: none;
   
}


.shopping:hover{
    color: rgba(17,214,221);
}

.icon{
    font-size: large;
}

ul li{
    display: inline;
}

.home{
    margin-left: 300px;
    color: white;
    transition: all 0.3ms ease 0s;
    font-size: medium;
    font-family: 'arabic';
    background-color: rgba(2,54,73);
    border: none;
}

.home:hover{
    color: rgba(17,214,221);
}

.input-icons i { 
    position: absolute; 
    margin-top: 4px;
    margin-left: 155px;
    color: rgba(17, 214, 221);
} 
  
.input-icons { 
    width: 200px; 
} 
  
.icon { 
    min-width: 40px; 
} 

.input-field{
    background-color: rgb(7,111,125);
    border: none;
    border-radius: 15px;
}

.search{
    margin-left: 600px;
    margin-top: -22px;
    color: white;
}

.reg{
    margin-right: 15px;
    font-family: 'arabic';
    margin-top: 30px;
    color: rgba(17,214,221);
    background-color: rgba(2,54,73);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1000ms ease 0s;
}

.reg:hover{
    background-color: rgba(17,214,221);
    color: rgba(2,54,73);
}

.login{
    margin-right: -45px;
    font-family: 'arabic';
    margin-top: 30px;
    color: rgba(17,214,221);
    background-color: rgba(2,54,73);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1000ms ease 0s;
}

.login:hover{
    background-color: rgba(17,214,221);
    color: rgba(2,54,73); 
}

.logout{
    margin-right: 5px;
    font-family: 'arabic';
    margin-top: 30px;
    color: rgba(17,214,221);
    background-color: rgba(2,54,73);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1000ms ease 0s;
}

.logout:hover{
    background-color: rgba(17,214,221);
    color: rgba(2,54,73); 
}

.mo{
    background-color: rgb(238,238,238);
    padding-bottom: 20px;
    direction: rtl;
    margin-top: -19px;
    margin-left: -110px;
    display: inline;
}



.mo button{
    color: black;
    font-family: 'arabic';
    margin-top: 15px;
    border: black;
    margin-right: 20px;
    margin-left: 20px;
    transition: all 1000ms ease 0s;
    border-radius: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.mo button:hover{
    background-color:  rgba(2,54,73);
    color: rgba(17,214,221);
}

.pro{
    text-align: center;
    margin-top: 20px;
}

.pro a{
    font-family: 'arabic';
    font-family: 'Exo Bold', arial;
}

.pro h4{
    font-family: 'arabic';
    font-family: 'Exo Bold', arial;
}

.more{
    font-family: 'arabic';
    color: rgba(17,214,221);
    background-color: rgba(2,54,73);
    border-radius: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 1000ms ease 0s;
}

.more:hover{
    background-color: rgba(17,214,221);
    color: rgba(2,54,73);
}

.addto{
    font-family: 'arabic';
    color: rgba(2,54,73);
    background-color: rgba(17,214,221);
    border-radius: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    transition: all 1000ms ease 0s;
}

.every{
    font-family: 'arabic';
    font-size: 20px;
}

.addto:hover{
    background-color: lawngreen;
    color: black;
}

.footer1{
    font-family: 'Exo Bold', arial;
    color: rgba(17,214,221);
    font-size: xx-large;
}

.footer2{
    font-family: 'Exo Bold', arial;
    color: rgba(2,54,73);
    font-size: xx-large;
}

.logo-title{
    font-family: 'Exo Bold', arial;
    font-size: 70px;
    text-align: center;
    color: rgba(17,214,221);
}

.logo-title span{
    color: rgba(2,54,73);
}

.logo-p{
    font-size: medium;
    font-family: 'arabic';
    text-align: center;
}

.reg-name{
    margin-top: 38px;
    margin-left: -300px;
    padding-right: 480px;
    direction: ltr;
}

.form-control{
    border-radius: 15px;
}

.create{
    border-radius: 15px;
    color: rgba(17,214,221);
    background-color: rgba(2,54,73);
    transition: all 1000ms ease 0s;
}

.create:hover{
    background-color: rgba(17,214,221);
    color: rgba(2,54,73); 
}

.back{
    background-color: rgba(2,54,73);
    color: white;
    font-family: 'arabic';
    font-size: large;
    margin-left: 1100px;
    margin-top: 10px;
    transition: none;
    border-radius: 15px;
}

.back:hover{
    color: white;
}

.porduct-title{
    font-family: 'Exo Bold', arial;
    text-align: right;
    margin-right: 285px;
}

.dec{
    font-family: 'arabic';
    font-size: medium;
}

.price{
    font-family: 'Exo Bold', arial;
    color: rgba(17,214,221);
    font-size: x-large;
}

.iqd{
    font-size: small;
    color:black;
}

.delete{
    background-color: rgba(17,214,221);
    color: white;
    transition: all 1000ms ease 0s;
    border: none;
    border-radius: 12px;
    padding-right: 4px;
    padding-left: 4px;
}

.delete:hover{
    background-color: red;
    color: white;
}


.abr{
    font-family: 'arabic';
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

.pp {
    position: absolute;
    left: -3000px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

@media only screen and (max-width: 1000px){
    
    .index-page svg{
        height: 250px;
        margin-left: -370px;
        margin-top: -100px;
    }

    .index-page {
        display: inline;
    }

    .index-page .info img{
        display: block;
        height: 200px;
        margin-left: 100px;
        margin-top: 0px;
    }

    .index-page p{
        font-size: 15px;
        text-align: center;
        margin-top: -50px;
        margin-left: 0px;
        text-align: center;
    }

    .khatun-community-page{
        margin-top: -100px;
        margin-left: -70px;
        display: inline;
    }

    .khatun-community-page svg{
        width: 300px;
        margin-left: 120px;
        margin-top: -350px;
    }

    .khatun-community-page .des-khatun-community img{
        display: none;
    }

    .khatun-community-page .des-khatun-community{
        margin-top: -200px;
        margin-left: 0px;
    }

    .khatun-community-page .des-khatun-community p{
        font-size: 20px;
    }

    .khatun-community-second-section{
        border-style: solid;
        width: 100%;
        height: 530px;
        border-color: #ff27ae;
        border-radius: 20px;
        border-left: none;
        border-right: none;
        margin-top: 50px;
        display: block;
        overflow-x: hidden;
    }

    .khatun-community-second-section svg{
        height: 200px;
        margin-left: -120px;
        margin-top: 30px;
    }

    .khatun-community-second-section p{
        direction: rtl;
        font-size: 15px;
    }

    .khatun-community-third-section{
        display: block;
        border-style: solid;
        height: 400px;
        width: 100%;
        border-color: #ff27ae;
        border-radius: 50px;
        border-top: none;
        border-bottom: none;
        margin-left: 0px;
        margin-top: 100px;
    }

    .khatun-community-third-section svg{
        width: 350px;
        margin-top: -190px;
        margin-left: -20px;
    }

    .khatun-community-third-section p{
        background-color: #ff27ae;
        color: white;
        border-radius: 20px;
        font-size: 15px;
        margin-top: -320px;
        width: 160px;
        margin-left: 150px;
    }

    .input-section{
        background-color: #ff27ae;
        width: 100%;
        height: 400px;
        position: relative;
        margin-top: 30px;
        margin-left: 0px;
        color: white;
        border-radius: 15px;
    }

    .main-page{
        display: inline;
        text-align: center;
        overflow-x: hidden;
    }

    .main-page svg{
        width: 99%;
        margin-top: -160px;
        margin-left: 0px;
    }
    
    .main-page p{
        margin-top: 30px;
        margin-left: -75px;
        font-size: 18px;
        width: 550px;
        margin-bottom: -40px;
    }

   .main-page input{
       margin-top: 100px;
       margin-bottom: 120px;
   }
   
   .main-page button{
       position: absolute;
       background: none;
   }
    .object-card{
        border-color: #ff27ae;
        border-style: groove;
        border-width: 1px;
        height: 400px;
        width: 300px;
        background-color: #ff27ae;
        margin-left: 50px;
    }

    .main-page-title{
        display: block;
        border-bottom-color: #ff27ae;
        border-bottom-style: solid;
        border-radius: 20px;
        font-size: 30px;
        width: 300px;
    }

    .content-maker-name{
        text-align: center;
        margin-left: 0%;
        color: #ff27ae;
        position: absolute;
        top: 130px;
    }

    .content-maker-des{
        font-size: 18px;
        margin-left: 0px;
        width: 100%;
    }
}