<% include _layouts/header %>
<center><img src="../images/pink-logo.png" class="login-img"></center>

<form method="post" action="/users/login" style="direction: rtl; margin-right: 20px; margin-left: 20px;">

    <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" name="username" class="form-control" placeholder="قم بادخال اسم المستخدم">
    </div>

    <div class="form-group">
        <label>الرمز السري</label>
        <input type="password" name="password" class="form-control"  placeholder="قم بادخال الرمز السري">
    </div>

    <button type="submit" class="login-btn">تسجيل الدخول</button>
</form>

<% include _layouts/footer %>
