<% include _layouts/header %>

<form method="post" action="/users/register" style="rtl; margin-right: 20px; margin-left: 20px;">

    <div class="form-group">
        <label>الاسم</label>
        <input type="text" name="name" class="form-control" placeholder="قم بادخال اسمك">
    </div>

    <div class="form-group">
        <label>(البريد الالكتروني (الايميل</label>
        <input type="text" name="email" class="form-control" placeholder="قم بادخال بريدك الالكتروني">
    </div>
    
    <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" name="username" class="form-control" placeholder="قم بادخال اسم المستخدم">
    </div>

    <div class="form-group">
        <label>الرمز السري</label>
        <input type="password" name="password" class="form-control"  placeholder="قم بادخال الرمز السري">
    </div>
    
    <div class="form-group">
        <label>تاكيد الرمز السري</label>
        <input type="password" name="password2" class="form-control"  placeholder="قم بادخال الرمز السري مجددا">
    </div>

    <button type="submit" class="btn btn-default create">انشاء الحساب</button>
</form>

<% include _layouts/footer %>